<h1 class="app_title">memo</h1>
<article>
  <ul>
    <% @title_list.zip(@id_list).each do |title, id| %>
    <li><a href="http://localhost:4567/memos/<%= id %>" class="link"><%= title %></a></li>
    <% end %>
  </ul>
</article>
<nav>
  <ul class="menu">
    <li>
      <form action="/new" method="get">
        <input type="image" src="/images/プラスのアイコン素材.svg" alt="新規作成" width="32" height="32">
      </form>
    </li>
  </ul>
</nav>
