<h1 class="app_title"><a href="http://localhost:4567/memos">memo</a></h1>
<article>
  <h1 class="memo_title"><%= @title %></h1>
  <p><%= @content %></p>
</article>
<nav>
  <ul class="menu">
    <li>
      <form action="/memos" method="get">
        <input type="image" src="/images/Uターン矢印 2.svg" alt="一覧" width="32" height="32">
      </form>
    </li>
    <li>
      <form action="/memos/<%= params[:id] %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="image" src="/images/ふたの開いたゴミ箱のアイコン.svg" alt="削除" width="32" height="32">
      </form>
    </li>
    <li>
      <form action="/memos/<%= params[:id] %>/edit" method="get">
        <input type="image" src="/images/紙とペンのアイコン素材.svg" alt="変更" width="32" height="32">
      </form>
    </li>
  </ul>
</nav>
